.main {
  padding: 75px 0 0 0;
  position: relative;
}

.title {
  font-size: 3.5rem;
}

.backgoundPatternImg {
  position: absolute;
  top: -630px;
  right: -80px;
  z-index: -1;
}

/** ====== Media Queries ====== **/
/** Tablet **/
@media screen and (max-width: 1000px) {
  .title {
    font-size: 3rem;
    text-align: center;
  }

  .backgoundPatternImg {
    right: -475px;
  }
}

/** Mobile **/
@media screen and (max-width: 700px) {
  .title {
    font-size: 2rem;
  }

  .backgoundPatternImg {
    top: -92vw;
    right: -50vw;
  }
}
