.main {
  position: relative;
  background-color: var(--clr-secondary-dark);
  overflow: hidden;
  padding: 100px 0;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  position: relative;
  z-index: 1;
}

.colLeft {
  width: 50%;
}

.colRight {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgoundPatternImg {
  position: absolute;
  top: -400px;
  left: -400px;
  z-index: -1;
}

.title,
.textContent {
  color: var(--clr-water-white);
}

.textContent {
  opacity: 0.7;
  margin-bottom: 2.25rem;
  max-width: 445px;
}

.logosGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center; /* Vertically centers the grid items */
  justify-items: center; /* Horizontally centers the grid items */
  column-gap: 3rem;
  row-gap: 2.5rem;
  padding: 1rem 0 0 2rem;
}

.logosGrid svg {
  overflow: visible;
}

/** ====== Media Queries ====== **/
/** Tablet **/
@media screen and (max-width: 1000px) {
  .main {
    padding: 70px 0;
  }

  .innerContainer {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .colLeft,
  .colRight {
    width: 100%;
  }

  .textContent {
    margin: auto auto 2.25rem auto;
  }

  .logosGrid {
    column-gap: 0;
    row-gap: 0;
    padding-top: 0;
  }

  .backgoundPatternImg {
    top: -600px;
    right: 0;
    left: 50%;
    width: 780px;
    max-width: 780px;
    transform: translate(-50%);
  }
}
