.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  /* overflow-x: hidden; */
}

.colLeft {
  width: 65%;
  padding-top: 7rem;
}

.colRight {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  max-width: 546px;
}

.lead {
  padding-left: 1.6rem;
}

.leadLink {
  font-weight: var(--fw-bold);
}

.leadLink:hover {
  color: var(--clr-secondary-dark);
}

.demoFieldContainer {
  margin: 3rem 0 1rem 0;
}

.phoneIllustrationImg {
  filter: drop-shadow(25px 25px 20px #1b262f1f);
}

.backgoundPatternImg {
  position: absolute;
  top: -325px;
  right: -27%;
  z-index: -1;
}

/** ====== Media Queries ====== **/
/** Tablet **/
@media screen and (max-width: 1000px) {
  .main {
    position: initial;
    padding-bottom: 100px;
  }

  .innerContainer {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .colLeft,
  .colRight {
    width: 100%;
  }

  .colLeft {
    padding-top: 0;
  }

  .phoneIllustrationImg {
     margin-left: 6vw;
  }

  .title {
    max-width: 546px;
    margin: auto;
    text-align: center;
  }

  .demoFieldContainer {
    display: flex;
    justify-content: center;
  }

  .backgoundPatternImg {
    top: -675px;
    right: 0;
    left: 50%;
    width: 980px;
    max-width: 980px;
    transform: translate(-50%);
  }
}
/** Mobile **/
@media screen and (max-width: 719px) {
  .phoneIllustrationImg {
    margin-left: 8vw;
  }

  .backgoundPatternImg {
    top: 0px;
    right: 0;
    left: 50%;
    width: 100%;
    max-width: 100%;
    transform: translate(-50%);
  }
}
