:root {
  --clr-bg-main: #EDF3F8;
  --clr-bg-dark: #1B262F;
  --clr-water-white: #FBFCFE;
  --clr-primary: #BA4270 ;
  --clr-primary-active: #DA6D97;
  --clr-secondary-main: #36536B;
  --clr-secondary-light: #6C8294;
  --clr-secondary-dark: #1B262F
}