.main {
  padding: 2rem 0;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.colLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
}
