.main {
  padding: 2rem 0;
  overflow-x: hidden;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.colLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
}

/** ====== Media Queries ====== **/
/** Tablet Small **/
@media screen and (max-width: 720px) {
  .colLeft {
    justify-content: space-between;
    width: 100%;
  }
  .scheduleADemoBtn {
    display: none;
  }

    .main {
    padding-bottom: 0;
  }

  .colLeft {
    gap: 2rem;
  }
}
