.main {
  position: relative;
  padding: 75px 0;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.colLeft {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.colRight {
  width: 50%;
  padding-left: 2rem;
}

.textContent {
  max-width: 445px;
  margin-bottom: 2.25rem;
}

.illustration {
  margin-left: -50px;
  filter: drop-shadow(25px 25px 20px #1b262f1f);
}

/** ====== Media Queries ====== **/
/** Tablet **/
@media screen and (max-width: 1000px) {
  .main {
    padding: 50px 0;
  }

  .innerContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0;
  }

  .colLeft,
  .colRight {
    width: 100%;
  }

  .colLeft {
    justify-content: center;
  }

  .colRight {
    margin-top: -2rem;
    padding-left: 0;
  }

  .textContent {
    max-width: 90%;
    margin: auto auto 2.25rem auto;
  }

  .illustration {
    margin-left: 8vw;
  }
}

/** Mobile **/
@media screen and (max-width: 719px) {
  .colRight {
    margin-top: -1rem;
    padding-left: 0;
  }

  .title {
    font-size: 2rem;
  }
}
