.main {
  /* padding: 2rem 0; */
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-secondary-dark);
  position: relative;
  overflow: hidden;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.colLeft,
.colRight {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
}

.colLeft {
  gap: 4rem;
}

.colRight {
  gap: 2rem;
}

.colRight svg {
  position: relative;
  z-index: 2;
}

.colRight svg:hover path {
  fill: var(--clr-primary-active);
  transition: all var(--ease-regular);
}

.backgoundPatternImg {
  position: absolute;
  top: -90%;
  right: -20%;
  z-index: 1;
}

/** ====== Media Queries ====== **/
/** Mobile **/
@media screen and (max-width: 719px) {
  .main {
    height: auto;
    padding: 2rem 0;
  }

  .innerContainer {
    flex-direction: column;
    gap: 2rem;
  }

  .colLeft {
    flex-direction: column;
    gap: 2rem;
  }

  .footerNavigation ul {
    margin: 1rem 0;
    flex-direction: column;
  }

  .backgoundPatternImg {
    top: 0;
    right: 50%;
    transform: translate(50%, 50%);
  }
}
