.btn {
  width: 173px;
  height: 48px;
  border-radius: 24px;
  font-size: 15px;
  font-weight: 700;
}

.btnPrimary {
  background: var(--clr-primary);
  color: var(--clr-water-white);
  border-radius: 24px;
  font-size: 15px;
  font-weight: 700;
}

.btnPrimary:hover {
  background: var(--clr-primary-active);
}

.btnSecondaryLight {
  background: #ffff0000;
  color: var(--clr-water-white);
  border: 1px solid var(--clr-water-white);
}

.btnSecondaryLight:hover {
  background: var(--clr-water-white);
  color: var(--clr-secondary-dark);
}

.btnSecondaryDark {
  background: #ffff0000;
  color: var(--clr-secondary-main);
  border: 1px solid var(--clr-secondary-main);
}

.btnSecondaryDark:hover {
  color: var(--clr-water-white);
  background: var(--clr-secondary-main);
}