.main {
  position: relative;
  padding: 75px 0;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

.advantageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.advantageIcon {
  margin-bottom: 2rem;
}


/** ====== Media Queries ====== **/
/** Tablet **/
@media screen and (max-width: 1000px) {
  .main {
    padding: 0;
  }

  .innerContainer {
    gap: 1rem;
  }
}

/** Mobile **/
@media screen and (max-width: 719px) {
  .innerContainer {
    flex-direction: column;
    gap: 4rem;
  }

  .advantageBox h3 {
    font-size: 1.125rem;
  }
}