.main {
  padding: 75px 0;
} 
.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

/** ====== Media Queries ====== **/
/** Tablet **/
@media screen and (max-width: 1000px) {
  .innerContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
}

/** Mobile **/
@media screen and (max-width: 720px) {
 .main h2 {
    font-size: 2rem;
  }
}
